[phases.setup]
nixPkgs = ["php82"]

[phases.install]
cmds = [
  "cd jm-ferreteria-backend && curl -sS https://getcomposer.org/installer | php",
  "cd jm-ferreteria-backend && php composer.phar install --no-dev --optimize-autoloader"
]

[phases.build]
cmds = [
  "cd jm-ferreteria-backend && php composer.phar exec -- php artisan config:cache",
  "cd jm-ferreteria-backend && php composer.phar exec -- php artisan route:cache",
  "cd jm-ferreteria-backend && php composer.phar exec -- php artisan view:cache"
]

[start]
cmd = "chmod +x jm-ferreteria-backend/start.sh && bash jm-ferreteria-backend/start.sh"

